<div class='about'>
  I am a recent graduate from Angelo State University with a degree in Computer Science. I have many loves in this life. I love electronics, programming, camping, hiking, hammocking, movies, books, and archery. I am all these things, but I am more. This is just a fraction of what, and who I am.
  <br><br>
  <b>Why am I interested in programming?</b>
  <br>
  My interest in computers started in middle school - I began rebuilding junk computers from my local recycling center, and I learned a lot about how they worked. I eventually wanted to know more about the software they used. My brother, Jeremy, taught me some basics of programming in C#. Now that I am about to finish up my Computer Science degree, I am as passionate about programming as ever. I enjoy learning new technologies and languages (for example, I took the Functional Programming Principles in Scala course on Coursera with Jeremy in my spare time), and I love working through problems and putting the pieces together like a puzzle until I find a solution.
  <br><br>
  <b>What areas of computer science I am most interested in?</b>
  <br>
  In my experience with school projects and personal projects, I have found I most enjoy backend development. An example is a personal project I did after taking a class last summer called Web Database Design. In that class, I had the chance to learn PHP and how it is used to create a database-driven website (I had already taken a Databases course, where I learned SQL programming). I was able to use what I learned there to build my own personal site from the ground up. While the frontend development of that site was interesting (I enjoy programming of any form), it was the backend development and working with data that I most enjoyed.
  <br><br>
  <b>One of my interesting projects, and explination of why I enjoyed the project.</b>
  <br>
  A project I recently did in my Artificial Intelligence class required me to write an informed search algorithm for a class challenge titled “Off-Road Rally.” The challenge was to create an agent that found the best path from start to finish on a hex grid system (using the informed search algorithm). The instructor discussed the broad details of informed searches in class, but in order to really understand, students had to research outside of class to implement a working strategy. This research is what I truly enjoyed about the project. In order to understand informed searches, I had to research breadth first search, the best first search, and the greedy best first search algorithms. After learning and working with these algorithms, I was eventually able to adapt the A* search algorithm. This research done on my own is what I find is the most fun in programming. Whether it’s scouring the web (StackOverflow is your friend!), or talking to someone who is more knowledgeable than me, it is this digging for clues and finding a solution that makes programming so interesting.
  <br><br>
</div>
