<div class='projects'>
  <br>
  <dl>
    <ul>
      <!-- <li>
        <dt>
          <a href='/jokes'>Joke site</a>
        </dt>
        <dd>Created a database driven site to list jokes, also created, was a
          <a href='/jokes/admin'>Content Management System (CMS)</a>
          to add, edit, and delete jokes from the database.</dd>
      </li> -->
      <li>
        <dt>lhaley.com</dt>
        <dd>This site originally started as a SPA written in PHP and Javascript. The website has more recently been rewritten using a node framework, SailsJS.</dd>
      </li>
      <br>
      <li>
        <dt>Performance Monitoring</dt>
        <dd>Researched and implimented a collection of monitoring tools. The tools used were Riemann, Graphite, and Grafana.</dd>
      </li>
  </dl>
</div>
