<div class='resume'>
  <div class='resumeTable'>
    <div class='resumeRow'>
      <div class='resumeCell resumeHead bold'>Summary of Qualifications:</div>
      <div class='resumeCell resumeData borderBottom'>
        <div>
          Experience includes detailed knowledge of computer programming, with education in database skills. Experience in school has developed a hardworking and driven ability which includes completing tasks in a timely manner.
        </div>
        <dl>
          <dt>
            <div>Knowledge and Skill Areas:</div>
          </dt>
          <dd>
            <ul>
              <li>
                <span>Software development</span>
              </li>
              <li>
                <span>Object-oriented programming</span>
              </li>
              <li>
                <span>Problem analysis and resolution</span>
              </li>
              <li>
                <span>Requirement gathering and analysis</span>
              </li>
              <li>
                <span>Software testing and troubleshooting</span>
              </li>
              <li>
                <span>Technical writing skills</span>
              </li>
            </ul>
          </dd>
        </dl>
      </div>
    </div>
    <div class='resumeRow'>
      <div class='resumeCell resumeHead bold'>Technical Knowledge and Expertise:</div>
      <div class='resumeCell resumeData borderBottom'>
        <dl>
          <dt class='bold'>Operating Systems</dt>
          <dd>Microsoft, Macintosh, Linux, Unix</dd>
          <dt class='bold'>Programming Languages</dt>
          <dd>C++, C#, Scala, Assembly, PHP, HTML, CSS</dd>
          <dt class='bold'>Development Tools</dt>
          <dd>Microsoft Visual Studios, Xcode, IntelliJ Idea</dd>
          <dt class='bold'>Certifications</dt>
          <dd>Microsoft Office Specialist 2003 in Word and Excel</dd>
        </dl>
      </div>
    </div>
    <div class='resumeRow'>
      <div class='resumeCell resumeHead bold'>Education:</div>
      <div class='resumeCell resumeData borderBottom'>
        <dl>
          <dt>Angelo State University, San Angelo, TX</dt>
          <dd>Bachelor of Science in Computer Science, May 2015</dd>
          <dd>minor in Mathematics</dd>
          <br>
          <dt>Relevant Coursework:</dt>
          <dd>
            <ul>
              <li>Java Programming</li>
              <li>Data Structures and Algorithms</li>
              <li>Theory of Algorithms</li>
              <li>Web Database Design</li>
              <li>Database Design and Management</li>
              <li>Digital Electronic Design</li>
              <li>Technical Writing</li>
              <li>Discrete Mathematics</li>
              <li>Calculus</li>
            </ul>
          </dd>
        </dl>
      </div>
    </div>
    <div class='resumeRow'>
      <div class='resumeCell resumeHead bold'>Related Work Experience:</div>
      <div class='resumeCell resumeData borderBottom'>
        <dl>
          <dt class='bold'>Programmer I</dt>
          <dd>Texas Ethics Commission - Austin, Texas</dd>
          <dd>(January 2016 - Present)</dd>
          <dd>
            <ul>
              <li>
                Provided technical support and data management.
              </li>
            </ul>
          </dd>
          <dt class='bold'>Intern</dt>
          <dd>Eduphoria - Austin, Texas</dd>
          <dd>(June 2015 - August 2015)</dd>
          <dd>
            <ul>
              <li>
                Eduphoria position description
              </li>
            </ul>
          </dd>
	  <dt class='bold'>Tutor</dt>
          <dd>Angelo State University - San Angelo, Texas</dd>
          <dd>(September 2014 - May 2015)</dd>
          <dd>
            <ul>
              <li>
                Help students enhance their mastery of concepts and academic skills in Computer Science.
              </li>
            </ul>
          </dd>
        </dl>
      </div>
    </div>
    <div class='resumeRow'>
      <div class='resumeCell resumeHead bold'>Awards and Recognition:</div>
      <div class='resumeCell resumeData'>
        Charlie Wooten Grant - 2011 & 2013<br>
        Cum Laude Honor, Mason High School - May 2011
      </div>
    </div>
  </div>
  <span class='center foot'>*References available upon request</span>
</div>
